<div *ngIf="tarefa">
   <mat-card>
      <mat-card-content>         
         <form>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
               <mat-form-field fxFlex="50">
                  <input matInput required name="name" placeholder="Tarefa" [(ngModel)]="tarefa.name">
               </mat-form-field><mat-form-field fxFlex="25">
                  <input matInput name="points" placeholder="Pontos" [(ngModel)]="tarefa.points">
               </mat-form-field><mat-form-field fxFlex="25">
                  <input matInput disabled [matDatepicker]="picker" name="doBefore" placeholder="Prazo" [(ngModel)]="tarefa.doBefore">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker touchUi="true" disabled="false"></mat-datepicker>
               </mat-form-field>
            </div>
            <div fxLayout="row">
               <mat-form-field fxFlex="100">
                  <textarea matInput name="description" placeholder="Descrição" [(ngModel)]="tarefa.description"></textarea>
               </mat-form-field>
            </div>
            <div *ngFor="let pessoa of tarefa.people; let i = index;" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
               <mat-form-field fxFlex="25">
                  <mat-select name="name_{{i}}" placeholder="Responsável" [(ngModel)]="pessoa.id">
                     <mat-option>Ninguém</mat-option>
                     <mat-option *ngFor="let p of pessoas" [value]="p.id">
                        {{p.name}}
                     </mat-option>
                  </mat-select>
               </mat-form-field><mat-form-field fxFlex="25">
                  <mat-select name="status_{{i}}" placeholder="Status" [(ngModel)]="pessoa.status">
                     <mat-option *ngFor="let s of status" [value]="s.value">
                        {{s.name}}
                     </mat-option>
                  </mat-select>
               </mat-form-field>
               <mat-form-field fxFlex="50">
                  <input matInput name="comment_{{i}}" placeholder="Comentário" [(ngModel)]="pessoa.comment">
               </mat-form-field>
            </div>
            <div fxLayout="row">
               <button fxFlex="100" mat-button (click)="adcPessoa()">adicionar responsável</button>
            </div>
         </form>
      </mat-card-content>
      <mat-card-actions>
         <button mat-button (click)="goBack()">voltar</button>
         <button mat-raised-button (click)="save()">salvar</button>
      </mat-card-actions>
   </mat-card>
</div>

