<!-- <button mat-button (click)="openSnackBar('blarg')" aria-label="Show an example snack-bar">
     Pizza party
     </button> -->

<!-- <div *ngIf="messageService.messages.length">
     <mat-card>
     <mat-card-content>
     <div *ngFor='let message of messageService.messages'> {{message}} </div>
     </mat-card-content>
     <mat-card-actions>
     <button mat-raised-button color="primary"
     (click)="messageService.clear()">limpar</button>
     </mat-card-actions>
     </mat-card>
     </div> -->
